* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.body {
    width: 100%;
}

a, li, button {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: sticky;
    top: 0; 
    background-color: #fff; 
    z-index: 1000; 
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px; 
}

.nav-item {
    cursor: pointer;
    padding: 10px;
}

.nav-item:hover {
    border: 1px solid #ddd;
    background-color: #ddd;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 934px;
    background-color: white;
}
.resume-button a{
  padding-right: 10px;
  padding: 10px;
}
.resume-button a button{
   
    padding: 5px;
  }

  .logo {
    height: 50px; 
    width: auto; 
}
.container1{
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

 .title{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
    text-align-last: center;
    column-gap: 1 rem;
 }
  .title::before, .title::after{
   content: " ";
   height:1px;
    width: 360px;
    background-color:#000;
    display: block; 
  }

  .myself
   {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f2f2f2;
   }

   .description{
   
    height: 80vh;
    width:50%;
   
   }
   
  .picture{ width: 300px;
height: 300px;}

.main-content h1{
    font-size: 72px;
    font-weight: 400;
    text-align: center;
}

.main-content h4{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
  
.about_page{
    background-color: #f2f2f2;
}
